- container = @no_top_bar_container ? 'container-fluid' : container_class

.gl-relative
  %div{ class: [container, @content_class] }
    .top-bar-container.gl-display-flex.gl-align-items-center
      - if show_super_sidebar?
        = render Pajamas::ButtonComponent.new(icon: 'sidebar', category: :tertiary, button_options: { class: 'js-super-sidebar-toggle super-sidebar-toggle gl-ml-n3 gl-mr-2', title: _('Expand sidebar'), aria: { controls: 'super-sidebar', expanded: 'false', label: _('Navigation sidebar') }, data: {toggle: 'tooltip', placement: 'right' } })
      - elsif defined?(@left_sidebar)
        = render Pajamas::ButtonComponent.new(icon: 'sidebar', category: :tertiary, button_options: { class: 'toggle-mobile-nav gl-ml-n3 gl-mr-2', data: { qa_selector: 'toggle_mobile_nav_button' }, aria: { label: _('Open sidebar') } })
      = render "layouts/nav/breadcrumbs/breadcrumbs"
